
<div class="provider" style="margin: 4%">
    
        <!-- <h1 class="text-center">Choose your Fav Team</h1><br> -->
        <div class="row">

            <div class="row-child item" *ngFor="let team of teams">

                <a [routerLink]="['/teams',team['id'], team['name'] ]"><img title="{{team['name']}}"
                        class="img-responsive itemImage" src="https://squiggle.com.au{{team['logo']}}"
                        alt="Card image cap"
                        style="width: 60px"> </a>
                        <!-- <p>{{team['name']}}</p> -->

                        <!-- <div *ngIf = "team['id']==3">
                            <p>This will display {{team['name']}}</p>
                        </div> -->
            </div>
            
        </div>
    
</div>

