/* .container {
  background-color:white;
  overflow: hidden;
  align-items: center;
  margin-left: ;
}

/* Style the links inside the navigation bar */
/* .container a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 17px;
  margin: 1px;
} */ */

/* .item-parent {} */

.provider
{
    margin: 5% !important;
}

p
{
    color:black;
}
.row-child > a > img{

    flex: 0 0 1;
    /* margin: 0% 5%; */
    margin: 7px;
}